#root
{
    margin: 0px 10px;
    padding: 10px;
    background-color: hsl(210, 60%, 75%);
    min-height: 100vh;
}
body
{
    background-color: hsl(210, 60%, 40%);
}
canvas
{
    background-color: aliceblue;
}
table
{
    max-width: 800px;
}
.grid
{
    display: grid;
    gap: 0 30px;
    grid-template-columns: 1fr 400px; 
}
.vertical-scroll
{
    height: 800px;
    overflow-y: auto;
}
.block
{
    display: block;
    margin-bottom: 20px;
}
.fit-content
{
    max-width: fit-content !important;
}